<div class="container">
  <h2 class="text-center">Sign Up</h2>

  <form name='signUpForm' novalidate>
    <input type="text" name="firstName" placeholder="First name"
           ng-model="signUpCtrl.myInfo.firstName"
           required />
    <span class="invalid" ng-if="signUpForm.firstName.$invalid && signUpForm.firstName.$touched">
      First name is required.
    </span>
    <br />
    <input type="text" name="lastName" placeholder="Last name"
           ng-model="signUpCtrl.myInfo.lastName"
           required />
    <span class="invalid" ng-if="signUpForm.lastName.$invalid && signUpForm.lastName.$touched">
      Last name is required.
    </span>
    <br />
    <input type="email" name="emailAddress" placeholder="Email address"
           ng-model="signUpCtrl.myInfo.emailAddress"
           required />
    <span class="invalid" ng-if="signUpForm.emailAddress.$invalid && signUpForm.emailAddress.$touched">
      Email address must be valid.
    </span>
    <br />
    <input type="text" name="phoneNumber" placeholder="Phone number (###-###-####)"
           ng-model="signUpCtrl.myInfo.phoneNumber"
           pattern="(\d{3})-(\d{3})-(\d{4})" />
    <span class="invalid" ng-if="signUpForm.phoneNumber.$invalid && signUpForm.phoneNumber.$touched">
      Phone number must be empty or in the format ###-###-####.
    </span>
    <br />
    <input type="text" name="favoriteDish" placeholder="Favorite dish (menu number)"
           ng-model="signUpCtrl.myInfo.favoriteDish"
           required />
    <span class="invalid" ng-if="signUpForm.favoriteDish.$invalid && signUpForm.favoriteDish.$touched">
      Favorite dish is required.
    </span>
    <span class="invalid" ng-if="signUpCtrl.favoriteDishInvalid">
      No such menu number exists.
    </span>
    <br />
    <button ng-click="signUpCtrl.submit()" ng-disabled="signUpForm.$invalid">Submit</button>
    <br />
    <span class="confirmation" ng-if="signUpCtrl.saved">Your information has been saved.</span>
  </form>

</div>
